<div ng-controller="korwinController">
	<div style="margin-left: 20%;">
		<h1>Gratulacje!</h1>
		<br/>
		<div class="media">
			<div class="media-left">
				<img class="media-object" src="images/podatki.jpg" alt="...">
			</div>
			<div class="media-body">
				<h2 class="media-heading">Lista numer 4</h2>
				<p><h3>Precz z biurokracją, czerwonym śmierć!</h3></p>
			</div>
		</div>
		<br/>
		<h3>Wróć do głosowania lub obejrzyj spot</h3>
		<div class="btn-group" role="group" aria-label="...">
			<a href="http://www.dailymotion.com/video/x3anpdc_korwin-spot-parodia_fun"
			   type="button" class="btn btn-info">Obejrzyj</a>
			<a href="#/" type="button" class="btn btn-default">Wróć</a>
		</div>
		<br/>
	</div>
</div>